<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyCrypt">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Introduzione mostrata al primo avvio -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Pagina per cifrare o decifrare un testo scritto o incollato -->
        <activity
            android:name=".TextCryptActivity"
            android:exported="false"
            android:label="@string/text_crypt_title"
            android:windowSoftInputMode="adjustResize" />

        <!-- Voci "Decifra" / "Cifra" nel menu di selezione del testo di qualsiasi app -->
        <activity
            android:name=".ProcessTextActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/action_decrypt"
            android:taskAffinity=""
            android:theme="@style/Theme.EasyCrypt.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Testo condiviso con l'app: si sceglie se cifrarlo o decifrarlo -->
        <activity-alias
            android:name=".ShareTextAlias"
            android:exported="true"
            android:label="@string/share_label"
            android:targetActivity=".ProcessTextActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".EncryptTextAlias"
            android:exported="true"
            android:label="@string/action_encrypt"
            android:targetActivity=".ProcessTextActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".EasyCryptIME"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>
</manifest>
